  @font-face {
    font-family: agency;
    src: url(../font/AGENCYB.TTF) format('woff');
  }

  @font-face {
    font-family: ibm;
    src: url(../font/IBMPlexMono-Light.ttf) format('woff');
  }
     
    * {
      box-sizing: border-box;
  } 
  
  

  .title{
      font-family: agency;
      text-align: center; 
      font-size: 1.6em;
      margin-bottom: -0.1%;
  }
  
  .text{
    font-family: ibm;
    font-size: medium;
    text-align: center;
  }
  
  /* .row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: flex;
      justify-content:center;
  }
   */
  .container{
      margin: 32px;
  }

  .work-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
  }
  
  .work-title{
      text-align: center;
      font-size: 1.4em;
  }
  .img-box{
      padding: 8px;
      display: flex;
      justify-content: center;
  }
    
  #work-title{
      text-align: left;
  }
  
  #partners{
      width: auto;
      height: 160px;
      margin-left: 32px;
      margin-right: 32px;
      margin-bottom: 56px;
      overflow: hidden;
      transition: 0.3s;
  }
  
  .partners-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    width: 90%;
    padding-left: 10%;
  }

  #partners-img1{
    width: 150px;
    height: auto;
    transition: 0.3s;
  }
  
  #partners-img2{
    width: auto;
    height: 150px;
    transition: 0.3s;
  }
  
  #partners{
    width: 200px;
    height: 200px;
    display: inline-block;
  }
  
  #partners-img1:hover{
    width: 200px;
    height: auto;
  }
  
  #partners-img2:hover{
    width: auto;
    height: 200px;
  }
  
  #title-partners{
      margin-top: 80px;
      margin-bottom: 80px;
  }
  
  .border{
    background-color: #e1dede;
    width: 100%;
    align-items: center;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-nav li {
    margin: 20px 0;
}

.mobile-nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
  
#img-main{
  width: 100%;
}

    /* TODO: */
  
@media (max-width: 800px){
  body {
    font-family: agency;
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
    width: 200%;
    /* padding: 24px; */
    background-color: #ebebeb;
  }   

  #main-img{ 
  width: 100%;
  height: 400px;
  /* background-image: url(../image/banner2.webp); */
  margin-top: -8px;
  margin-left: 4px;
  margin-right: 4px;
  background-repeat:no-repeat;
  /* display: none; */
}

#our-work-detail{
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(214, 214, 214);
  margin-top: -7.25%;
  margin-left: 9.5%;
  margin-right: 7.5;
  width: 80%;
  padding: 16px;
  font-size: 1.4em;
  opacity: 0.9; 
  }

.work{
  border: 1px solid black;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  width: 50%;
  height: auto;
  overflow: hidden;
  padding: 16px;
  margin: 16px;
  margin-left: 10%;
  margin-right: 72px;
  transition: 0.5s;
  /* justify-self: center; */
}

.work:hover{
  background-color:   rgb(178, 233, 229 );
}  


.nav ul {
  display: none; /* Hide desktop nav on mobile */
}

.burger-menu {
  display: flex; /* Show burger menu on mobile */
  margin-left: 10px;
}

.hero {
  padding: 40px 20px; /* Adjusted padding for mobile */
}
}

@media  (min-width: 801px) and (max-width: 1124px){
  body {
    font-family: agency;
    font-size: 1.2em;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 100vh;
    /* padding: 24px; */
    background-color: #ebebeb;
  }   
  #main-img{ 
  width: 100%;
  height: 400px;
  /* background-image: url(../image/banner2.webp); */
  margin-top: -8px;
  margin-left: 4px;
  margin-right: 4px;
  background-repeat:no-repeat;
  /* display: none; */
}

#our-work-detail{
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(214, 214, 214);
  margin-top: -7.25%;
  margin-left: 9.5%;
  margin-right: 7.5;
  width: 80%;
  padding: 16px;
  font-size: 1.4em;
  opacity: 0.9; 
  }

.work{
  border: 1px solid black;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  width: 50%;
  height: auto;
  overflow: hidden;
  padding: 16px;
  margin: 16px;
  margin-left: 10%;
  margin-right: 72px;
  transition: 0.5s;
  /* justify-self: center; */
}

.work:hover{ 
  background-color:   rgb(178, 233, 229 );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #f8f8f8;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto; 
  margin-right: 8px;
}

.company-name {
  font-size: 24px;
  font-weight: bold; 
  letter-spacing: 3px;
}

.nav ul {
  list-style: none;
  padding: 0; 
  margin: 0;
  display: flex;
}

.nav li {
font-size: large;
  margin: 0 16px;
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav a:hover {
  color: #007BFF;
}

.right-section {
  display: flex;
  align-items: center;
}

.login-button {
  margin-right: 16px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  color: rgb(93, 195, 255);
}

.login-button:hover {
  background-color: #007BFF;
}

.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
}

@media (min-width: 1125px) {

  body {
    font-family: agency;
    font-size: larger;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 100vh;
    /* padding: 24px; */
    background-color: #ebebeb;
  }   
  #main-img{ 
  width: 100%;
  height: 400px;
  /* background-image: url(../image/77b5f422-c487-42a5-bc02-7db2009cba59.webp); */
  margin-top: 8px;
  margin-left: 2%;
  background-repeat:no-repeat;
  /* display: none; */
}

#our-work-detail{
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(214, 214, 214);
  margin-top: -7.25%;
  margin-left: 10%;
  width: 80%;
  padding: 16px;
  font-size: 1.4em;
  opacity: 0.96; 
  }

.work{
  border: 1px solid black;
  background-color: #cacaca;
  border-radius: 10px;
  width: 25%;
  height: auto;
  overflow: hidden;
  padding: 16px;
  margin: 16px;
  /* margin-left: 10%; */
  margin-right: 72px;
  transition: 0.5s;
  /* justify-self: center; */
}

.work:hover{
  background-color:   rgb(178, 233, 229 );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #f8f8f8;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto; 
  margin-right: 8px;
}

.company-name {
  font-size: 24px;
  font-weight: bold; 
  letter-spacing: 3px;
}

.nav ul {
  list-style: none;
  padding: 0; 
  margin: 0;
  display: flex;
}

.nav li {
font-size: large;
  margin: 0 16px;
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav a:hover {
  color: #007BFF;
}

.right-section {
  display: flex;
  align-items: center;
}

.login-button {
  margin-right: 16px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  color: rgb(93, 195, 255);
}

.login-button:hover {
  background-color: #007BFF;
}

.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
}

.slider {
  height: 350px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}


.slide-track {
  display: flex;
  width: calc(350px * 18);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 9));
  }
}

.slide {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 15px;
}


#img-slider {
  width: 100%;
  height: 140%;
}